{% extends 'funcionarios/base.html' %}
{% block title %}Dashboard do Supervisor{% endblock %}
{% block content %}
    <h1 class="h2">Dashboard do Supervisor</h1>
    <p class="lead">Bem-vindo, {{ supervisor.nome_completo }}.</p>
    <hr>
    <h2 class="h4">Sua Equipe</h2>
    <p>Abaixo estão os funcionários que estão sob sua supervisão direta. O status é atualizado a cada 15 segundos.</p>
    <div class="card" hx-get="{% url 'funcionarios:tabela_equipe' %}" hx-trigger="load, every 15s" hx-swap="innerHTML">
        <div class="card-body text-center"><p>Carregando dados da equipe...</p></div>
    </div>
{% endblock %}